.example-container {
    position: relative;   
}
.example-sidenav-content {
    display: flex;
    align-items: top;
}
.example-sidenav {
    position: fixed;
}
.color{
  background-color: rgb(0, 45, 208);
}
.img-side{
    width: 50%;
}